body{

margin:0;
font-family:Poppins;
background:linear-gradient(180deg,#0d0d16,#11142b);
color:white;

}

.container{

max-width:900px;
margin:auto;
padding:20px;

}

.title{

font-family:'Luckiest Guy';
text-align:center;
font-size:40px;
color:#ffd000;
text-shadow:0 0 20px orange;

}

.subtitle{

text-align:center;
opacity:0.6;
margin-bottom:30px;

}

.card{

background:#1c2038;
padding:20px;
border-radius:15px;
margin-bottom:20px;
box-shadow:0 0 20px rgba(0,0,0,0.4);

}

.stats{

display:flex;
gap:10px;

}

.stat{

flex:1;
background:#262b4f;
padding:15px;
border-radius:10px;
text-align:center;

}

.progressBar{

height:12px;
background:#2a2f5c;
border-radius:20px;
margin-top:10px;
overflow:hidden;

}

.progress{

height:100%;
width:0;
background:linear-gradient(90deg,#ff7a00,#ffd000);
transition:0.5s;

}

input{

width:100%;
padding:12px;
margin-top:10px;
border:none;
border-radius:8px;
background:#2a2f5c;
color:white;

}

.neonButton{

margin-top:12px;
width:100%;
padding:12px;
border:none;
border-radius:10px;
font-weight:bold;
background:linear-gradient(90deg,#ff7a00,#ffd000);
color:white;
cursor:pointer;
box-shadow:0 0 15px orange;
transition:0.3s;

}

.neonButton:hover{

transform:scale(1.05);
box-shadow:0 0 25px orange;

}

.player{

background:#262b4f;
padding:12px;
margin-top:8px;
border-radius:10px;
display:flex;
justify-content:space-between;

}

.rank{

background:#262b4f;
padding:12px;
margin-top:8px;
border-radius:10px;
display:flex;
justify-content:space-between;
align-items:center;

}

.rank.gold{

border:2px solid gold;
animation:glow 2s infinite alternate;

}

.rank.silver{

border:2px solid silver;

}

.rank.bronze{

border:2px solid #cd7f32;

}

@keyframes glow{

from{box-shadow:0 0 10px gold}
to{box-shadow:0 0 25px gold}

}

.adminButton{

display:block;
margin:20px auto;
padding:10px 25px;
border:none;
border-radius:20px;
background:#6a6f8d;
color:white;
cursor:pointer;

}

.adminPanel{

display:none;

}
